@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 500px;
}

.nav ul li{
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    margin: 0 15px;
    letter-spacing: 2px;
}

.social{
    margin-left: 380px;
}

.social a{
    text-decoration: none;
}

.social img{
    max-width: 40px;
}

#o-mnie{
    width: 80%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    word-wrap: break-word;
    font-size: 1.4em;
}

.text{
    width: 700px;
}

#o-mnie img{
    max-width: 200px;
}

#projekty{
    width: 80%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    word-wrap: break-word;
    flex-direction: column;
}

#projekty li{
    margin-bottom: 30px;
    list-style-type: circle;
    font-size: 1.4em;
}

#projekty a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.git{
    background-color: #eb34ae;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#hobby{
    width: 80%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    word-wrap: break-word;
}

.tech{
    color: #00ccff;
    font-weight: 700;
}

.framework{
    color: #eb34ae;
    font-weight: 700;
}

.stack{
    color: #99ff33;
    font-weight: 700;
}

#hobby{
    flex-direction: column;
}

.foto-multi{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.foto-single{
    display: flex;
    justify-content: center;
}

#hobby img{
    max-width: 400px;
    margin-top: 40px;
}

h1{
    margin-top: 70px;
    font-size: 1.8em;
}

.tekst{
    font-size: 1.4em;
    margin-top: 20px;
}

#mobile{
    display: none;
}

@media (max-width: 992px)
{
    .nav{
        display: none;
    }
    #o-mnie{
        display: none;
    }
    #projekty{
        display: none;
    }
    #hobby{
        display: none;
    }
    #mobile{
        width: 100%;
        height: 100vh;
        background-color: white;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}